body{
  background: url("./assets/news-back.jpg");
  background-size: 150px 150px;
  background-repeat: repeat;
}

.a-cust{
  color: rgb(4, 145, 114);
}

.a-cust:hover{
  color: rgb(4, 145, 75);
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.published{
  font-size: 0.6em;
}

.App-title {
  font-size: 1.5em;
}
